@import url('https://fonts.googleapis.com/css?family=Roboto');

.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;

  .intro {
    font-size: large;
  }
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
